body {
  background-image: url(../images/aa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  color: aquamarine;
}
#header {
  text-align: center;
  color: black;
}
#home {
  color: black;
}

.form-control {
  width: 40%;
}

.ro1 {
  margin-bottom: 70px;
}

.index {
  margin-left: 145px;
}

a {
  color: black;
}

label {
  color: black;
}

@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

#top-bar.animated-header {
  background: #dedede;
  box-shadow: none;
}

#top-bar {
  background: #fff;
  color: #fff;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid grey;
}

#top-bar .main-menu li>a {
  color: #444;
}

#top-bar .main-menu li {
  position: relative;
}

#top-bar .main-menu li a {
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  text-transform: uppercase;
}

#top-bar .main-menu li a:hover {
  color: #02bdd5;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #02bdd5;
}

.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}

.navbar-header .navbar-brand {
  padding: 5px 0;
}

.navbar-header .navbar-brand a {
  height: auto;
  display: inline-block;
  margin-top: 8px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle {
  background: #444;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar-collapse {
  text-align: center;
}
.navbar {
  margin-bottom: 0px;
}

p {
  color: #727272;
}
